/* header */
.body{
    display: flex;
    flex-direction: row;
}

.body__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
}

.body__header__figure--img{
    width: 10rem;
    height: 10rem,;
    border-radius: 10rem;
}

.body__header__nav__lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0rem;;
    margin-top: 4rem;
    font-size: 2rem;
    margin-bottom: 4rem;
}


.body__header__nav__lista li{
    margin-bottom: 3rem;
}

.body__header__nav__lista a{
    text-decoration: none;
    color: black;
}

/* MAIN */

.body__main{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.body__main__texto{
    display: flex;
    flex-direction: column;
}
.body__main__texto__principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body__main__texto__principal--h1{
    font-size: 3rem;
}

.body__main__texto__principal--btn--img{
    width: 1rem;
    height: 1rem,;
}

.body__main__texto__secundario{
    display: flex;
}

.body__main__texto__secundario--texto--h2{
    margin-top: 3rem;
}

.body__main__texto__secundario--texto--descripcion{
    margin-top: 2rem;
}

.body__main__texto__secundario__img--yo{
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
}

/* about */

.body__main__sec{
    margin-top: 5rem;
}