*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorFondo:green;
    --h1:4rem;
    --h2:2.5rem;
    --h3:1.8rem;
    --texto:1.3rem;
    --top:3rem;
}

/* header */
.body{
    background-color: rgb(207, 189, 179);
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.body__header{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body__header__figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}	

.body__header__figure--luna{
    width: 3rem;
    height: 3rem;
    margin-bottom: 2rem;
}

.body__header__figure--img{
    width: 10rem;
    height: 10rem,;
    border-radius: 10rem;
}

.body__header__nav__lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0rem;;
    margin-top: 4rem;
    font-size: var(--h2);
    margin-bottom: 4rem;
}


.body__header__nav__lista li{
    margin-bottom: 3rem;
}

.body__header__nav__lista a{
    text-decoration: none;
    color: black;
}

/* MAIN */

.body__main{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body__main__texto{
    display: flex;
    flex-direction: column;
}
.body__main__texto__principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body__main__texto__principal--h1{
    font-size: var(--h1);
    margin-bottom: 4rem;
    display: flex;
}

.body__main__texto__secundario{
    display:flex;
    margin-bottom: 3rem;
}

.secundario__header{
    display: flex;
    justify-content: center;
}

.body__main__texto__secundario--texto--h2{
    font-size: var(--h2);
}

.body__main__texto__secundario--texto--descripcion{
    margin-top: 2rem;
    font-size: var(--texto);
}

.body__main__texto__secundario__img--yo{
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    margin-left: 3rem;
}

/* about */

.body__main__sec{
    margin-top: var(--top);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.body__main__tabla{
    display: flex;
    justify-content: center;
}

.body__main__sec--title{
    font-size: var(--h3);
}

.tabla__elementos{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: var(--texto);
}

.tabla__elementos--D{
    margin-left: 10rem;
}

.body__main__datos{
    display: flex;
    justify-content: space-around;
    margin-top: var(--top);
}

.tabla__academy__title{
    font-size: var(--h3);
}

.datos__elementos{
    font-size: var(--texto);
}

.banderas{
    width: 4rem;
    height: 2rem;
}

/* Contacto */

.body__main__formas{
    display: flex;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
}

.figuras{
    width: 7rem;
    height: auto;
    display: flex;
} 

.simbolos{
    display: flex;
    margin-left: 4rem;
    flex-direction: column;
    align-items: center;
}

.body__main__contactar{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body__main__contactar__texto--h2{
    font-size: var(--h2);
    margin-bottom: 2rem;
}

.body__main__contactar__texto--h3{
    font-size: var(--h3);
    margin-bottom: 2rem;
}

.body__main__contactar__inputs--asunto--txt{
    width: 100%;
    margin-top: 0.1rem;
}

.body__main__contactar__inputs--mensaje--txt{
    width: 100%;
    margin-top: 0.1rem;
}