.body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.body__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
}
.body__header__figure--img{
    width: 10rem;
    height: 10rem,;
    border-radius: 10rem;
}
.body__header__nav__lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}