*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.body{
   background-color: rgb(219, 214, 214);
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    text-decoration: none;
}

.header__portfolio{
    color: rgb(77, 39, 216);
    font-size: 2rem;
    display: flex;
    text-decoration: none;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(219, 214, 214);
    margin:2rem;
}

.main__texto {
    color:rgb(83, 83, 83);
    margin-top: 2rem;
    font-size: 1.5rem;
}


.main__boton--ver {
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: rgb(77, 39, 216);
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    width: 20rem;
    font-size: 1rem;
}